<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPimg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SPimg.Properties.Settings.ConnectionString" connectionString="Data Source=s.ROSENERGOTRANS.RU;Persist Security Info=True;User ID=SYSDBA;Password=&lt;eujh2$$7;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="SPimg.Properties.Settings.ConnectionString1" connectionString="Data Source=S.SVEL.RU;Persist Security Info=True;User ID=SYSDBA;Password=&lt;eujh2$$7;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <applicationSettings>
        <SPimg.Properties.Settings>
            <setting name="OracleQuery" serializeAs="String">
                <value>DataSet1</value>
            </setting>
        </SPimg.Properties.Settings>
    </applicationSettings>
</configuration>